.track {
    display: flex;
    border: 1px solid black;
    margin-bottom: 20px;
    color: rgb(128, 128, 128);
}

.track-image {
    display: flex;
    margin-right: 20px;
}

.track-image img {
    width: 80px;
    height: 80px;
}

.track-info {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    gap: 10px;
    align-content: center;
}

.track-info>div {
    display: grid;
    align-content: center;
}

.track-title {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

.track-artist {
    display: flex;
    align-items: center;
}

.track-artist svg {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    fill: rgb(128, 128, 128) !important;
    color: rgb(128, 128, 128) !important;
}