.track-list {
    list-style: none;
}

.h2 {
    font-size: 3rem;
    border-bottom: 8px solid black;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 36px;
}

.headers {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    margin-bottom: 8px;
}

.text {
    font-size: 1.2rem;
    margin-bottom: 10px;

    p {
        display: inline-block;
        background-color: #ffc864;
        padding: 10px;
        border-radius: 10px;
        animation: bounce 2s ease infinite;
    }
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-15%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-7%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
    }
}