.current img {
    height: 400px;
    transform: perspective(800px) rotateY(-25deg) scale(0.9) rotateX(10deg);
    filter: blur(2px);
    opacity: 0.5;
    transition: 0.6s ease all;
    border-radius: 2rem;
    background: linear-gradient(325deg, #3f5efb, #fc466b);

}

.current img:hover {
    transform: perspective(800px) rotateY(15deg) translateY(-50px) rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
}

.doublesection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2 {
    font-size: 3rem;
}

.text {
    padding-top: 20px;
    font-size: 1.2rem;
}