.placeholder {
    height: 200px;
    position: relative;
    z-index: 1;
    background-color: black;
}

.footer {
    background-color: black;
    color: white;
    font-size: 3rem;
    height: 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}