.placeholder {
    height: 300px;
    position: relative;
    z-index: 1;
    background-color: black;
}

.footer {
    background-color: black;
    color: white;
    height: 300px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .contact {
        width: 70vw;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        font-size: 14px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media (min-width: 768px) {
                align-items: flex-start;
            }
        }

        a {
            color: #fff;
            width: fit-content;
            text-decoration: none;
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 8px;

            @media (min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 16px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -8px;
                left: 0;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover {
                cursor: pointer;

                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }

    .copyright {
        color: #818181;
    }
}