.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c3f0c8;
  padding: 0 10%;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-icon {
  font-size: 4rem;
  margin-right: 10px;
}

.logo-text {
  font-size: 2rem;
}

.header {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;


    li {
      margin-left: 3rem;
    }
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;

    &:active,
    &:hover {
      color: white;
    }
  }
}

.logout-btn {
  margin: 40px auto;
  border: none;
  color: grey;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: transparent;
  outline: none;

  &:hover {
    color: #000;
  }

}