.artist-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.artist-rank {
    font-size: 20px;
    font-weight: bold;
    color: #AD96DC;
}

.artist-name {
    font-size: 42px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
}

.genres-list {
    display: flex;
}

.genre {
    margin-right: 15px;
    background-color: #AD96DC;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 18px;
}

.artist-link {
    text-decoration: none;
    color: #000;
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: -10px;
        left: 0;
        background-color: #000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover {
        cursor: pointer;

        &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}