.artist-card {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.artist-name {
    font-size: 36px;
}

.artist-info>p {
    margin-bottom: 10px;
}

.genres-list {
    display: flex;
}

.genre {
    margin-right: 15px;
    background-color: grey;
    padding: 4px 16px;
    border-radius: 8px;
}