.spotlight-wrapper {
    // border: 1px solid black;

    .doublesection {
        display: grid;
        grid-template-rows: 1fr 1fr;

        @media (min-width: 768px) {
            grid-template-rows: none;
            grid-template-columns: 1fr 1fr;
        }
    }

    .topimage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .left {

        img {
            height: 250px;
            transform: perspective(800px) rotateY(-25deg) scale(0.9) rotateX(10deg);
            filter: blur(2px);
            transition: 0.6s ease all;
            border-radius: 4px;

            @media (min-width: 576px) {
                height: 280px;
            }

            @media (min-width: 768px) {
                height: 300px;
            }

            @media (min-width: 992px) {
                height: 360px;
            }

            @media (min-width: 1200px) {
                height: 400px;
            }
        }
    }

    .images-container {
        display: inline-block;
        position: relative;

        &:hover {

            img {
                transform: perspective(800px) rotateY(15deg) translateY(-50px) rotateX(10deg) scale(1);
                filter: blur(0);
            }

            .vinyl {
                transform: perspective(800px) rotateY(15deg) translateY(-50px) rotateX(10deg) translateX(55%);
                transition-delay: 0.2s;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .track-info>p {
        margin-top: 10px;
    }

    .track-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .track-artist {
        font-size: 1.2rem;
    }

    .track-album {
        font-size: 1.2rem;
    }
}