.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c3f0c8;
    /* border: 1px solid grey; */

    padding: 30vh 16px;
    /* padding-top: 20vh;
    padding-bottom: 20vh; */
}

.title {
    font-size: 2rem;
}

.text {
    padding-top: 22px;
    font-size: 1.2rem;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .title {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}