// .hero-wrapper {
//     background-color: #c3f0c8;
// }

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c3f0c8;
    color: black;
    font-size: 64px;
    padding: 30vh 0;
    // position: sticky;
    // height: 100vh;
    // top: 0;
    // mix-blend-mode: overlay;
}

.title {
    font-size: 2rem;
}

.text {
    padding-top: 22px;
    font-size: 1.2rem;
}

// .quote-section-one {
//     height: 200vh;
//     width: 100%;
//     background: #A770EF;
//     background: -webkit-linear-gradient(160deg, #FDB99B, #CF8BF3, #A770EF, #3f5efb);
//     background: linear-gradient(160deg, #f4c6b2, #FDB99B, #CF8BF3, #A770EF, #3f5efb);
// }






























@media (min-width: 576px) {}

@media (min-width: 768px) {
    .title {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}