.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #c3f0c8;
    color: black;
    padding: 150px 10px;

    .title {
        font-size: 2rem;
        margin: 0 10px;
    }

    .text {
        padding-top: 22px;
        font-size: 1.2rem;
        margin: 0 20px;
    }
}

@media (min-width: 576px) {
    .hero {

        padding: 160px 10px;

        .title {
            font-size: 2.5rem;
        }

        .text {
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 768px) {
    .hero {
        padding: 170px 0px;

        .title {
            font-size: 3rem;
        }

        .text {
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 992px) {
    .hero {
        padding: 180px 0px;

        .title {
            font-size: 3.5rem;
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        padding: 200px 0px;

        .title {
            font-size: 4rem;
        }

        .text {
            padding-top: 28px;
        }
    }
}

@media (min-width: 1400px) {}