.quote {
    padding-top: 240px;
    padding-bottom: 160px;

    .element {
        background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(37, 37, 37) 50%);
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        margin-left: 50px;
        line-height: 1.6;
        font-size: 4rem;
        text-align: center;
    }

    .smaller {
        font-size: 1rem;
        text-align: center;
    }
}