.section {
    /* margin: 30px 0; */
    /* height: 1000px; */
    /* border: 1px solid black; */
}

.green {
    background-color: #c3f0c8;
}

.pink {
    background-color: #ffcdd2;
}

.orange {
    background-color: #ffc864;
}

.black {
    background-color: #191414;
}

.purple {
    background-color: #AD96DC;
}